.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 25px;
  @media (min-width: 600px) {
    .hr {
      display: none;
    }
  }
}
.bio.aboutSection {
  margin: 0 auto 0 0;
}
.aboutSection {
  font-size: .9em;
  padding-top: 20px;
  max-width: 790px;
  margin: 0 auto;
  // @media (min-width: 1200px) {
  //   margin: 0 0 0 auto;
  // }
  header {
    display: inline-block;
    border-bottom: 8px solid $c-main;
    h1 {
      margin: 0 0 -7px;
      padding: 0 5px 0 0;
      font-size: 1.3em;
    }
  }
  .aboutContent {
    margin-left: 10px;
  } 
}
.aboutSubSection {
  padding: 10px 0 0 10px;
  .title {
    margin: 0;
    padding: 0 10px 0 0;
    display: block;
    font-weight: bold;
    @media (min-width: 300px) {
      display: inline-block;
      &:after {
        content: ' => ';
      }
    }
  }
  p {
    display: inline-block;
  }
}