/* Author Card */

// Variables
$profile-size: 75px;
$social-size: 30px;
$social-size-hover: calc(#{$social-size} + 5px);

.AuthorCard {
  display: flex;
  .profilePhoto {
    width: $profile-size;
    height: $profile-size;
    border-radius: 100%;
    margin-right: 10px;
  }
  h1 {
    margin: 0;
    padding: 0;
    a {
      color: $c-accent;
    }
  }
  .socialMedia {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    .socialMediaImg {
      height: $social-size;
      padding: 5px;
      margin: 5px;
      transition-duration: 1s;
      &:hover {
        background-color: $c-accent;
        height: $social-size-hover;
        margin: 0px;
      }
    }
  }
}
