/* Author Card */

// Variables
$profile-size: 75px;
$social-size: 30px;
$social-size-hover: calc(#{$social-size} + 5px);

.AuthorCard {
  display: flex;
  padding: 10px;
  .profilePhoto {
    width: $profile-size;
    height: $profile-size;
    border-radius: 100%;
    margin: 0 10px 0 0;
    filter: grayscale(100%);
    transition: filter 1s;
    &:hover {
      filter: grayscale(0%);
    }
  }
  h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    a {
      color: $c-accent;
    }
  }
  .socialMedia {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    .socialMediaItem {
      padding: 0;
      margin: 0;
    }
    .socialMediaImg {
      height: $social-size;
      padding: 5px;
      margin: 0;
      transition-duration: 1s;
      &:hover {
        background-color: $c-accent;
        height: $social-size-hover;
        margin: 0px;
      }
    }
  }
}
