// Colors
$pink: #EEC9C8;
$pink-light: #F6DDDF;
$pink-dark: #DF9C9D;
$blue: #56A5A8;
$bluegray: #8399A1;
$black: #333;
$white: #fefefe;

// Colors: Themed
$c-main: $pink;
$c-main-lighter: $pink-light;
$c-main-darker: $pink-dark;
$c-accent: $blue;
$c-accent-faded: $bluegray;

// Colors Used: 
