.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .AuthorCard {
    display: none;
  }
  .siteTitle {
    margin: 5px 0 10px;
    padding: 0;
    text-align: center;
    a {
      color: $c-accent;
    }
  }
  @media screen and (min-width: 600px) {
    flex-direction: row;
    .AuthorCard {
      display: flex;
    }
    .siteTitle {
      display: none;
    }
    > * {
      width: 50%;
    }
  }
}