// TODO: generalize this code so that it isn't copied from _about.scss

.hobbiesContainer {
  .hobbiesDescription {
    font-size: .9em;
    padding-top: 20px;
    max-width: 790px;
    margin: 0 0 0 auto;
    header {
      display: inline-block;
      border-bottom: 8px solid $c-main;
      h1 {
        margin: 0 0 -7px;
        padding: 0 5px 0 0;
        font-size: 1.3em;
      }
    }
    .hobbiesDescriptionContent {
      margin-left: 10px;
    }
  }
}

.hobbies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  background-color: lighten($c-main, 11%);
  padding: 15px;
  .hobby {
    padding: 10px 0 0;
    background: $white;
    img {
      width: 50px;
      display: block;
      margin: 0 auto;
    }
    h2 {
      margin: 0;
      text-align: center;
      color: $c-main-darker;
      font-size: 1.3em;
      border-bottom: 2px solid $c-main-lighter;
      padding-bottom: 3px;
      margin-bottom: 10px;
    }
    p {
      padding: 5px;
    }
  }
}