* {
  box-sizing: border-box;
}

.Header, .Main, .Footer {
  max-width: 1200px;
  margin: 0 auto;
}

// Global
@import "colors";
@import "typography";

// ************************* Components ************************ //

// Header
@import "author-card"; // Header AND Footer
@import "nav";
@import "header";

// Footer
@import "footer";


