* {
  box-sizing: border-box;
}

.Header, .Main, .Footer {
  max-width: 1200px;
  margin: 0 auto;
}

.Main {
  padding: 50px 10px 0;
}
@media (min-width: 1200px) {
  .Main {
    padding: 50px 0 0;
  }
}

/* 
 * Typography Theme: stow-lake
 * Font Family matches the headerFontFamily
 * Font Size matched the scaleRatio
 */
.siteTitle {
  font-family: "Neuton", "sans-serif";
  font-size: 2.25em;
}

.hr {
  margin: 15px -15px;
  width: 100vw;
  max-width: 1200px;
}
@media (min-width: 1200px) {
  .hr {
    margin: 15px 0;
    width: 100%;
  }
}
.hr span {
  display: inline-block;
  height: 10px;
  width: calc(100% / 3);
}
.hr .left {
  background-color: #F6DDDF;
}
.hr .center {
  background-color: #EEC9C8;
}
.hr .right {
  background-color: #DF9C9D;
}

/* Author Card */
.AuthorCard {
  display: flex;
  padding: 10px;
}
.AuthorCard .profilePhoto {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin: 0 10px 0 0;
  filter: grayscale(100%);
  transition: filter 1s;
}
.AuthorCard .profilePhoto:hover {
  filter: grayscale(0%);
}
.AuthorCard h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.AuthorCard h1 a {
  color: #56A5A8;
}
.AuthorCard .socialMedia {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.AuthorCard .socialMedia .socialMediaItem {
  padding: 0;
  margin: 0;
}
.AuthorCard .socialMedia .socialMediaImg {
  height: 30px;
  padding: 5px;
  margin: 0;
  transition-duration: 1s;
}
.AuthorCard .socialMedia .socialMediaImg:hover {
  background-color: #56A5A8;
  height: calc(30px + 5px);
  margin: 0px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: #8399A1;
}
nav a {
  padding: 10px;
  width: 50vw;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  transition: background-color 1s;
  transition: color 0.5s;
}
nav a img {
  min-width: 25px;
  width: 10%;
  max-width: 50px;
  margin: 5px 20px;
}
nav a:nth-of-type(1) {
  background: #F6DDDF;
}
nav a:nth-of-type(2) {
  background: #EEC9C8;
}
nav a:nth-of-type(3) {
  background: #DF9C9D;
}
nav a:hover {
  background: #56A5A8;
  color: white;
}

@media screen and (min-width: calc(3 * 100px)) {
  nav a {
    width: calc(100vw / 3);
  }
}
@media screen and (min-width: 600px) {
  nav {
    flex-wrap: nowrap;
  }
  nav a {
    background: white !important;
    border-bottom: 4px solid;
    transition: background-color 1s;
  }
  nav a:nth-of-type(1) {
    border-color: #F6DDDF;
  }
  nav a:nth-of-type(1):hover {
    background: #F6DDDF !important;
  }
  nav a:nth-of-type(2) {
    border-color: #EEC9C8;
  }
  nav a:nth-of-type(2):hover {
    background: #EEC9C8 !important;
  }
  nav a:nth-of-type(3) {
    border-color: #DF9C9D;
  }
  nav a:nth-of-type(3):hover {
    background: #DF9C9D !important;
  }
}
.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Header .AuthorCard {
  display: none;
}
.Header .siteTitle {
  margin: 5px 0 10px;
  padding: 0;
  text-align: center;
}
.Header .siteTitle a {
  color: #56A5A8;
}
@media screen and (min-width: 600px) {
  .Header {
    flex-direction: row;
  }
  .Header .AuthorCard {
    display: flex;
  }
  .Header .siteTitle {
    display: none;
  }
  .Header > * {
    width: 50%;
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 25px;
}
@media (min-width: 600px) {
  .about .hr {
    display: none;
  }
}

.aboutSection {
  font-size: 0.9em;
  text-align: justify;
  padding-top: 20px;
}
.aboutSection header {
  display: inline-block;
  border-bottom: 8px solid #EEC9C8;
}
.aboutSection header h1 {
  margin: 0 0 -7px;
  padding: 0;
  font-size: 1.3em;
}
.aboutSection div {
  margin-left: 10px;
}
.aboutSection .aboutSubSection {
  padding: 10px 0 0;
}
.aboutSection .aboutSubSection .title {
  margin: 0;
  padding: 0 10px 0 0;
  display: block;
  font-weight: bold;
}
@media (min-width: 300px) {
  .aboutSection .aboutSubSection .title {
    display: inline-block;
  }
  .aboutSection .aboutSubSection .title:after {
    content: " => ";
  }
}
.aboutSection .aboutSubSection p {
  display: inline-block;
}

.Footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*# sourceMappingURL=layout.css.map */
